* {
    font-family: cursive;
    padding: 10px;
    margin: 5px
}

h1 {
    color: blanchedalmond;
    background-color: black;
}

h2 {
    background-color: purple;
    color: white;
    text-align:center;
    font-style: italic;
}

h3 {
    background-color: cornflowerblue;
    text-align: right;
    text-decoration: underline;
}



#cloud {
    color: cornflowerblue;
}